PORT=

# mongodb uri
MONGODB_URI=

# better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # Base URL of your app

# frontend url for cors
FRONTEND_URL=

# resend api key
RESEND_API_KEY=

# vercel blob
BLOB_READ_WRITE_TOKEN=
